body {
  overflow-x: hidden;
}

.hide {
  display: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0); /* Black background */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#login-form {
  background-color: darkgrey;
  border: 1px darkgrey solid;
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
}

#login-title {
  margin-top: 30px;
  color: white;
}

#avengersDescription {
  margin: 20px;
}
